<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Document</title>
</head>
<body>
    <div class="sideBar">
        <ul>
            <li> <i class='fas fa-user-edit' style='font-size:20px'></i> &nbsp; <a href="/update-user" style="text-decoration: none;color:white;">Edit Profile</a> </li>
             <li><i class='fas fa-book' style='font-size:20px'></i>  &nbsp; <a href="/complaint-Register" style="text-decoration: none;color:white;">Complaint Register</a></li>
             <li><i class='fas fa-paper-plane' style='font-size:20px'></i>  &nbsp; <a href="/news-feeds" style="text-decoration: none;color:white;">News</a></li>
             <li> <i class='far fa-compass' style='font-size:20px'></i> &nbsp; Tracking</li>
             <li> <i class='fas fa-envelope-open' style='font-size:20px'></i> &nbsp; <a href="/notifications" style="text-decoration: none;color:white;">Notification</a</li>
             <li> <i class='fas fa-search' style='font-size:20px'></i> &nbsp;  History</li>
        </ul>
    </div>
</body>
</html>