  {{> UserNav}}
<div class="container p-5" > 
    <div class="login">
  <form id="contact" action="" method="post">

    <h3 style="text-align: center;">LOGIN</h3>
    <h4></h4>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
                  <input placeholder="Password" type="password" tabindex="3" style="width:100%;height:30px" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" value="Login" data-submit="...Sending">Submit</button>
    </fieldset>
    <p class="copyright">New Member?<a href="/Register" target="_blank" title="Colorlib">Login</a></p>
  </form>
  </div> 
</div>



