<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    th{
      color: white;
    }
    td{
      color: white;
    }
    table{
      border: 1px solid rgb(220, 17, 162);
    }
  </style>
</head>
<body style="background-color:blue">
  {{> usersidebar}}
<div class="container">
  <h2 style="text-align: center;background-color:rgb(220, 17, 162)">Your Notification</h2>        
  <table class="table table-bordered" style="margin-top: 20%;">
    <thead>
      <tr>
        <th>Panchayath</th>
        <th>Starting Date</th>
        <th>Ending Date</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      {{#each result}}
      <tr>
        <td>{{panchayth}}</td>
        <td>{{Start_date}}</td>
        <td>{{end_date}}</td>
        <td>{{notification}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</div>

</body>
</html>
