  {{> UserNav}}
<div class="container">  
    <div class="register">

   
  <form id="contact" action="" method="post">
    <h3>CITIZEN REGISTRATION</h3>
    <h4></h4>


      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
            <select name="" id="" style="width:100%;height:30px">
                <option value="">Male</option>
                 <option value="">FeMale</option>
            </select>
    </fieldset>
    <fieldset>
                  <input placeholder="State" type="text" tabindex="3" required>
    </fieldset>
     <fieldset>
                  <input placeholder="District" type="text" tabindex="3" required>
    </fieldset>
     <fieldset>
                 <select name="" id="" style="width:100%;height:30px">
                    <option value="">Select ward</option>
                      <option value="">1</option>
                        <option value="">2</option>
                          <option value="">3</option>
                            <option value="">4</option>
                              <option value="">5</option>
                                <option value="">6</option>
                                  <option value="">7</option>
                 </select>
    </fieldset>
    <fieldset>
                  <input placeholder="Password" type="password" tabindex="3" style="width:100%;height:30px" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <p class="copyright">Already have an account?<a href="/Login" target="_blank" title="Colorlib">Login</a></p>
  </form>
   </div>
</div>



