<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/user.css">
    <title>Document</title>
</head>
<body>
    {{> usersidebar}}
            <div class="login-page">
  <div class="form" >
    <h3>Add Complaints</h3>
    <form class="login-form" action="/add-complaints" method="post">
      <span>Complaint Type</span>
      <select name="type" id="">
        <option value="GENERAL">GENERAL</option>
        <option value="PERSONAL">PERSONAL</option>
      </select>
      <input type="text" name="subject" placeholder="subject"/>
      <input type="text" name="complaint" placeholder="Complaint"/>
      <input type="submit" value="Register Complaints" style="background-color: rgb(15, 15, 145);color:white">
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
</body>
</html>