.newsFeeds{
    width: 40%;
    height: 400px;
    margin-left: 30%;
    margin-top: 10%;
    background-color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 10px;
    position:inherit;
}
.side{
    position: absolute;
    top: 0;
}
.bottom{
    bottom: 0;
    height: 40px;
    width: 100%;
   
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.top a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.top{
    bottom: 0;
    height: 40px;
    width: 100%;
    top: 5px;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.newsFeeds img{
    width: 100%;
    height: 400px;
}
.likebtn{
    width: 100px;
    padding:6px;
   border: none;
   background-color: white;
}
.cmntBTN{
    width: 100px;
    height: 90;
    padding:10px;
    border: none;
    background-color: white;
}